<?xml version="1.0" encoding="UTF-8"?>
<config>
  <componentDefaultConfig>
    <ContingenciesProviderFactory>com.powsybl.action.dsl.GroovyDslContingenciesProviderFactory</ContingenciesProviderFactory>
    <SecurityAnalysisFactory>com.rte_france.powsybl.hades2.Hades2SecurityAnalysisFactory</SecurityAnalysisFactory>
    <LoadFlowFactory>com.rte_france.powsybl.hades2.Hades2Factory</LoadFlowFactory>
  </componentDefaultConfig>
  <import-export-parameters-default-value>
    <XIIDM_throwExceptionIfExtensionNotFound>false</XIIDM_throwExceptionIfExtensionNotFound>
  </import-export-parameters-default-value>
  <hades2>
    <homeDir>{{ hades_create }}</homeDir>
    <debug>true</debug>
  </hades2>
</config>
